<h3><%= appointment_date %></h3>
<table>
  <% appointments.each do |appointment| %>
    <tr>
      <td><%= appointment.description %></td>
      <td><%= link_to 'Edit', edit_artist_appointment_path(appointment.id), remote: true %></td>
      <td><%= link_to 'Delete', "/artist/appointments/#{appointment.id}", method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<h1>Create Event</h1>
<span align='right'>
  <%= form_tag "/artist/appointments", id: 'artist-new-appointment' do %>
    <%= label_tag :date %>
    <%= text_field_tag :date, appointment_date %>
    <%= label_tag :description %>
    <%= text_field_tag :description, nil, id: 'new-desc' %>
    <%= submit_tag 'Add Appointment' %>
  <% end %>
</span>