<div align='left' class="forms">
  <div align='right' class="profile img">
    <img src = <%= @artist.image %>>
  </div>

  <h1>Artist: <%= @artist.name %></h1>
  <p>Hourly rate: <%= number_to_currency(@artist.price_per_hour) %></p>
  <p>Bio: <%= @artist.bio %></p>
  <p class='link'><%= link_to 'Appointments', artist_appointments_path(@artist.id) %></p>
</div>

<h3 align='center'>Styles by this Artist</h3>
<p><%= @artist.name %> styles</p>
  <% ImageFetcher.new.get_single_images(@artist).each do |image|  %>
  <div class = 'container'>
      <p><%= image.style %></p>
      <img src= "<%= image.url %>" style="width:100%" >
  </div>
<% end %>

