
<div align='right' class="forms">
  <section class="profile img">
    <img src = <%= artist.image %>>
</section>

  <p>Name: <%= artist.name %>
  <p>Hourly rate: <%= number_to_currency(artist.price_per_hour) %></p>
  <p>Bio: <%= artist.bio %></p>
  <%= link_to 'Appointments', artist_appointments_path(artist.id) %>
</div>

<p> Your tattoo styles</p>
  <% ImageFetcher.new.get_single_images(@current_user).each do |image|  %>
  <div class = container>
        <p><%= image.style %></p>
      <img src= "<%= image.url %>" style="width:100%" >
  </div>

<% end %>
