<h1 class='profile'>Welcome to the InkTank</h1>
<div class='profile'>
   <p>Our mission is to better connect local tattooers with their community.</p>
   <p>Acceptance of this fine art is growing, and so are the number of people getting tattoos.</p>
   <p>The InkTank will guide customers toward the tattooer who's right for the job and provide vital tools for generating and tracking business for the artist.</p>
</div>

<div align='center' class="search">
   <%= form_tag "/", method: :get do %>
      <%= label_tag :search_tattoos %>
      <%= text_field_tag :search_tattoos %>
      <%= submit_tag 'Find Images' %>
   <% end %>
</div>

<% if @image_results_list %>
   <section align='center' class='images'>
      <% @image_results_list.each do |image_result| %>
         <section class='image'>
            <img src= <%= image_result[:original] %>>
         </section>
      <% end %>
   </section>
<% end %>
