<div align='left' class="profile">
  <section class="profile img">
    <img src = <%= artist.image %>>
  </section>

  <h3>Artist: <%= artist.name %></h3>
  <p>Hourly rate: <%= number_to_currency(artist.price_per_hour) %></p>
  <p>Bio: <%= artist.bio %></p>
  <p><%= link_to 'Appointments', "/artist/appointments" %></p>

  <div class="link">
    <%= form_tag '/payments/new' do %>
      <%= label_tag :amount %>
      <%= number_field_tag :amount %>
      <%= submit_tag "Get Paid" %>
    <% end %>
  </div>
</div>