<p align="right">
<h1>Get Paid</h1>
<%= form_tag '/payments', method: :post do %>
  <%= label_tag :amount %>
  <%= text_field_tag :amount %><br>

  <%= label_tag :title %>
  <%= text_field_tag :title %><br>

  <%= label_tag :description %>
  <%= text_field_tag :description %><br>

  <%= submit_tag "Submit Payment" %><br>
<% end %>
</p>
