<!DOCTYPE html>
<html>
  <head>
    <title>InkTank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% flash.each do |type, msg| %>
      <div>
        <%= msg %>
      </div>
    <% end %>

    <nav class="master_nav">

      <div class="logo">
        <%= link_to(image_tag('it_logo_bw.png', alt: "Ink Tank Logo"), "/") %>
      </div>
        <br>

      <div align='center' class="link">
        <%= link_to "Artists", artists_path %>
      </div>
        <br>

      <div align='center' class="link">
        <%= link_to "Locations"%>
      </div>
        <br>

      <div align='center' class="link">
        <%= link_to "Styles", "/styles" %>
      </div>
        <br>
      <% if session[:login] %>
        <div align='center' class="link">
          <%= link_to "Dashboard", "/artist/dashboard" %>
        </div>
      <% else %>
        <div align='center' class="link">
          <%= link_to "Login with Google", '/auth/google' %>
        </div>
         <br>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
