<!DOCTYPE html>
<html>
  <head>
    <title>InkTank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="master_nav">

      <div class="logo">
        <%= link_to(image_tag('it_logo_bw.png', alt: "Ink Tank Logo"), "/") %>
      </div>

      <div align='center' class="link">
        <%= link_to "Artists"%>
      </div> 
      <div align='center' class="link">
        <%= link_to "Locations"%>
      </div> 
      <div align='center' class="link">
        <%= link_to "Styles"%>
      </div> 
      <div align='center' class="link">
        <%= link_to "Login"%>
      </div> 
      <div align='center' class="link">
        <%= link_to "Register"%>
      </div> 
    </nav>

    <%= yield %>
  </body>
</html>
